@font-face {
    font-family: 'Myriad Light';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/MyriadPro-Light.woff') format('woff');
}

.gallery_wrapper {
    display:flex;
    width:100vw;
    max-width:100vw!important;
    height:92vh;
    max-height: 92vh;
    font-family: "Myriad Light";
}
.gallery_nav {
    display:flex;
    height:5vh;
    font-weight: 600;
    display:flex;
    justify-content:space-around;
    align-items: center;
    margin-right:0;
}
.gallery_nav div {
    margin:auto 3%;
    background-color:orange;
    padding:10px 20px;
}
.gallery_div_right {
    display:flex;
    font-weight: 400;
    flex-direction: row;
    width:55vw;
    height:92vh;
    max-height: 92vh;
    padding:15px;
    flex-wrap : wrap;
    justify-content:space-around;
}
.gallery_div_right h3 {
    font-weight: 400;
}
.gallery_div_right div {
    margin:20px;
}

.gallery_div_left {
    width:45vw;
    min-width:45vw;
    max-width: 45vw;
}
.gallery_div_left {
    display:flex;
    flex-direction: column;

}
.gallery_div_left {
    text-align: center;
}

.gallery_div_left h2 {
    margin-top:3%;
}
.gallery_div_left div {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin:3% 10%;
    align-self : center;
}

.video_container img {
    margin-top:3%;
}
.video_description {
    margin-top:3%;
    display:flex;
    align-items: center;
}

.gallery_div_right .video_container{
    margin-top:3%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:5px;
    background-color: whitesmoke;
    -webkit-box-shadow: -1px 0px 4px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 4px 0px rgba(0,0,0,0.75);
box-shadow: -1px 0px 4px 0px rgba(0,0,0,0.75);
    
}
.video_container img {
    max-width:220px;
    max-height: 130px;
}